<aside>
	<h1> Buscar por tipos:</h1>
	<h3> <%= I18n.t('activerecord.models.cuisine', count: @cuisines.count) %></h3>
	<% @cuisines.each do |cuisine| %>
	   <p class="cuisines"> <%= link_to cuisine.name, cuisine_path(cuisine) %> </p>
	<% end %>

	<h3> <%= I18n.t('activerecord.models.recipe_type', count: @recipe_types.count) %> </h3>
	<% @recipe_types.each do |type| %>
	  <p class="recipe_types"> <%= link_to type.name, recipe_type_path(type) %> </p>
	<% end %>
</aside>
