<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

  <div class="col-md-8 col-sm-8">
		<h2 class="recipes-title"> Receitas Recentes </h2>
  	<div class="row">
    	<% @recipes.each do |recipe| %>
				<div class="col-md-4 col-sm-6">
          <div class="recipe">
  			    <%= render recipe %>
          </div>
				</div>
  		<% end %>
		</div>
		<h2 class="favorites-title"> Mais favoritadas </h2>
		<div class="row">
      <% @favorite_recipes.each do |fav_recipe| %>
			  <div class="col-md-4 col-sm-6">
          <div class="favorites">
            <%= render fav_recipe %>
          </div>
        </div>
			<% end %>
	  </div>
  </div>
</div>
