<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

  <div class="col-md-8 col-sm-8">
    <div class="recipe-type-list">
      <ul>
      	<% @recipe_types.each do |recipe_type| %>
          <li>
            <%= link_to(recipe_type.name, recipe_type_path(recipe_type))%>
          </li>
    		<% end %>
      </ul>
    </div>
    <%= link_to('Novo tipo de receita', new_recipe_type_path) %>
  </div>
</div>
