/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";

$brand_color: #FF6440;
$font_color: white;

body{
	min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

ul {
  list-style-type:none;
}


footer{
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-color: darken($brand_color, 30%);
  background-color: $brand_color;

  li {
    display: inline;
    margin-right: 5em;
  }
  
  span{
    color: $font_color;
  }
}


